<div class="card our-goals">
    <div class="container">
        
        <div class="card-body">

            <span class="h3 font-weight-bold mb-1">
                Наши Цели
            </span>

        </div>

        <div class="card-body">
            <p class="card-text d-flex align-items-center">

                <span class="icons-container">
                    <i class="fas fa-angle-double-up"></i>
                </span>

                <span class="h4 font-weight-normal mb-0">
                    Поднять уровень разработчиков и помочь в развитии
                </span>

            </p>
        </div>

        <div class="card-body">
            <p class="card-text d-flex align-items-center">

                <span class="icons-container">
                    <i class="fas fa-users"></i>
                </span>

                <span class="h4 font-weight-normal mb-0">
                    Дать возможность всем проявить себя
                </span>
            </p>
        </div>

        <div class="card-body">
            <p class="card-text d-flex align-items-center">

                <span class="icons-container">
                    <i class="fas fa-chart-line"></i>
                </span>

                <span class="h4 font-weight-normal mb-0">
                    Улучшить сферу IT в Таджикистане и в мире
                </span>
            </p>
        </div>

    </div>
</div>