<div class="card mt-5 services">
    <div class="container">

        <div class="row header">
            <span class="h2 font-weight-bold mb-0">
                Услуги
            </span>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="card-body sms-gate d-flex flex-column align-items-center">

                    <span class="icons-container">
                        <i class="fas fa-envelope card-img-top"></i>
                    </span>

                    <span class="h2 font-weight-bold mb-0">
                        Услуги
                    </span>

                </div>
            </div>

            <div class="col-sm">
                <div class="row">s</div>
                <div class="row">c</div>
            </div>
        </div>
        <!-- 
        <div class="card-body">
            <p class="card-text d-flex align-items-center">


                <span class="h4 font-weight-normal mb-0">
                    СМС рассылка
                </span>

            </p>
        </div> -->

    </div>
</div>